.container-big {
  background-color: #27293d;
  padding: 15px;
  width: 100%;
  /* margin-right: 20px; */
}
.card-title h2 {
  color: #fff;
  font-weight: 100;
  margin-bottom: 0.75rem;
  font-size: 2rem;
}
.card-title p {
  color: #9a9a9a;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0;
}
