.sidebar {
  background-color: var(--main-side) !important;
  border-radius: 5px;
  z-index: 99;
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
}

.sidebar ul {
  background-color: var(--main-side) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar i {
  padding-right: 10px;
}
.sidebar li {
  margin-top: 40px;
}
.sidebar a {
  color: hsla(0, 0%, 100%, 0.8);
}
.sidebar a:hover {
  color: white !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--main-side) !important;
}
.first-word {
  padding-right: 20px;
}
.logo {
  padding-top: 20px;
  padding-left: 30px;
}
.logo a {
  color: white !important;
}

@media only screen and (min-width: 993px) {
  .sidebar .ant-menu-item-selected::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 17px;
    height: 7px;
    width: 7px;
    border: 1px solid white;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
  }
}
.divider {
  border-top: 1px solid white;
  padding-left: 10px !important;
}

@media only screen and (max-width: 992px) {
  .sidebar span {
    display: none;
  }

  .sidebar li {
    display: flex;
    justify-content: center;
  }

  .sidebar li i {
    font-size: 40px;
  }
  .sidebar .logo {
    display: none;
  }
  .sidebar .divider {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .sidebar li i {
    font-size: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .sidebar {
    display: none;
  }
}
