.footer {
  color: White !important;
  margin-top: 50px;
  margin-bottom: 30px;
}
.footer-container {
  display: flex;
}
.footer ul {
  list-style: none;
  padding: 0 !important;
}
.footer .nav-item {
  color: white !important ;
  margin-right: 10px;
  text-transform: uppercase;
}
.footer li a {
  color: white !important ;
}
.copyright a {
  color: var(--main-side);
  margin: 0 3px;
}
.copyright a:hover {
  color: var(--main-side);
}
@media only screen and (max-width: 730px) {
  .ant-row {
    justify-content: center;
  }
}
