.footer {
  color: White !important;

  margin-top: 50px;
  margin-bottom: 30px;
}
.footer-container {
  display: flex;
}
.footer ul {
  list-style: none;
}
.footer li {
  color: white !important ;
  margin-right: 10px;

  text-transform: uppercase;
}
.footer li a {
  color: white !important ;
}
.copyright a {
  color: #ba54f5;
  margin: 0 3px;
}
.copyright a:hover {
  color: var(--main-side);
}
