.bottom-bar {
  background-color: var(--main-side) !important;
  border-radius: 5px;
  z-index: 99;
  position: sticky;
  left: 0;
  top: 0;
}
.bottom-bar li {
  padding-left: 5px !important;
}
.bottom-bar ul {
  background-color: var(--main-side) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-bar i {
  font-size: 17px;
  margin-top: 10px;
}
.bottom-bar > :first-child {
  margin-left: 5px;
}
