.ant-layout-header {
  padding: 0 !important;
}
.nav a {
  color: white;
  font-size: 1rem;
}
.nav {
  display: flex;
  background-color: var(--main-color);
  margin-bottom: 10px;
}
.nav .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: var(--main-color) !important;
}
.nav ul {
  margin-left: auto;
  background-color: var(--main-color) !important;
}

.nav ul li:hover {
  background-color: var(--main-color) !important;
  color: white;
}
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: var(--main-color) !important;
}
.nav i {
  color: white;
  font-size: 20px;
}
.nav .search i {
  margin-left: 10px;
}
.nav .ul-container {
  display: flex;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 0.99925rem;
  line-height: 1;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
}
input {
  position: absolute;
  z-index: 1;
  top: 10px;
  width: 50% !important;
  /* left: 390px; */
  animation-name: example;
  animation-duration: 2s;
}
.hidden {
  display: none !important;
}
.ant-input-lg {
  padding: 19.5px 23px;
  font-size: 19px;
}
.input-container {
  display: flex;
  justify-content: center;
  position: sticky;
  /* top: 100px !important; */
  top: 0;
  z-index: 1;
}
